<h2>Log in</h2>



<%= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>

  <%= f.input :email, placeholder: 'john.smith@company.com' %>
  <%= f.input :password, placeholder: 'password' %>
  <%= f.input :remember_me, as: 'boolean' %>

  <div class="form-group">
    <%= f.button :submit, value: 'sign in' %>
  </div>

  <div class="form-group">
      <%= render "users/shared/links" %>
  </div>

<% end %>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %> 





