
<div>
  <%= t 'votes.top_votes_note' %>
  <%= link_to (t 'votes.top_votes_link'), proposals_path(:sort => :votes) %>
</div>
<br/>

<h2 class="pull-left"><%= Vote.model_name.human(count:2) %></h2>

<div class="table-responsive">
  <table class="table table-striped">

    <thead>
      <tr>
        <th><%= t 'common.id' %></th>
        <th><%= t 'common.created_at' %></th>
        <th colspan="3"><%= Proposal.model_name.human(count:2) %></th>
        <th><%= Vote.human_attribute_name :voter_name %></th>
        <th><%= Vote.human_attribute_name :phone %></th>
        <th><%= Vote.human_attribute_name :email %></th>
        <th><%= Vote.human_attribute_name :address %></th>
        <th><%= t 'common.actions' %></th>
      </tr>
    </thead>

    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.id %></td>
        <td><%= vote.created_at.strftime "%D"  %></td>
        <% vote.proposals.each do |proposal| %>
          <td><%= proposal.title %></td>
        <% end %>
        <td><%= vote.author %></td>
        <td><%= vote.phone %></td>
        <td><%= vote.email %></td>
        <td><%= vote.address %></td>
        <td><%= link_to vote_path(vote),
        method: :delete,
        title: (t 'common.remove'),
        class: "btn btn-sm btn-danger",
        data: { confirm: (t 'common.confirm_message'), toggle: 'tooltip' } do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </td>
      </tr>
      <% end %>

  </table>
</div>

<%= will_paginate @proposals,
      :class => "pagination-wrapper",
      :previous_label => (t 'common.previous'),
      :next_label => (t 'common.next') %>
