<div class="col-md-6">

<h2><%= t 'users.passwords.change_password' %></h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.input :password, label: (t 'users.passwords.new_password'),
      hint: (t 'users.passwords.minimum_length_message', :length => @minimum_password_length), autofocus: true, autocomplete: "off" %>
    <%= f.input :password_confirmation, label: (t 'users.passwords.confirm_password'), autocomplete: "off" %>

    <%= f.submit (t 'common.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "users/shared/links" %>

</div>
