<div class="col-md-6">

	<h2><%= t 'users.passwords.forgot_password' %></h2>

	<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="form-group">
      <%= f.input :email, autofocus: true, placeholder: (t 'users.passwords.forgot_email_placeholder')%>
	    <%= f.submit (t 'users.passwords.forgot_submit'), class: 'btn btn-primary' %>
	  </div>

	  <div class="form-group">
		<%= render "users/shared/links" %>
	  </div>

	<% end %>

</div>
