<!DOCTYPE html>
<html>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <head>
    <title>Pauselab</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag :application %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag params[:controller] %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container">
      <%= flash_messages %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>

</html>
