
<%= simple_form_for @blog do |f| %>
    <%= f.input :title, placeholder: (t 'blogs.title_placeholder') %>
    <%= f.input :body, placeholder: (t 'blogs.body_placeholder') %>
    <div class='form-group'>
      <%= f.button :submit, value: (t 'common.submit'), class: 'btn-primary' %>
      <%= link_to (t 'common.cancel'), blogs_path %>
    </div>
<% end %>

<!-- Haven't tested it out yet but it should work -->
<script>
$('textarea').each(function() {
  $(this).trumbowyg({
      svgPath: '<%= image_path("icons.svg") %>',
      btns: [
          ['formatting'],
          ['insertImage'],
          'btnGrp-justify',
          'btnGrp-lists',
          ['horizontalRule'],
          ['fullscreen']
      ]
  });
});
</script>
