
<%= simple_form_for @blog do |f| %>
    <%= f.input :title, placeholder: 'Christmas Update' %>
    <%= f.input :body, placeholder: 'After a month of hard work...' %>
    <div class='form-group'>
      <%= f.button :submit, value: 'Submit', class: 'btn-primary' %>
      <%= link_to 'Cancel', blogs_path %>
    </div>
<% end %>
