
<style media="screen">
  .trumbowyg-box {
    margin: 0 ;
  }
</style>

<%= simple_form_for @blog do |f| %>
    <%= f.input :title, placeholder: (t 'blogs.title_placeholder') %>
    <%= f.input :key_img, placeholder: (t 'blogs.key_img_placeholder') %>
    <%= f.input :body, placeholder: (t 'blogs.body_placeholder') %>
    <div class='form-group'>
      <%= f.button :submit, value: (t 'common.submit'), class: 'btn btn-primary' %>
      <%= link_to (t 'common.cancel'), blogs_path, class: 'btn btn-danger' %>
    </div>
<% end %>

<script>
$('textarea').each(function() {
  $(this).trumbowyg({
      svgPath: '<%= image_path("icons.svg") %>',
      btns: [
          ['formatting'],
          ['insertImage'],
          'btnGrp-justify',
          'btnGrp-lists',
          ['horizontalRule'],
          ['fullscreen']
      ]
  });
});
</script>
