<%= link_to (t 'blogs.back_link'), blogs_path%>
<%= link_to (t 'blogs.create_new'), new_blog_path, class: 'btn btn-default pull-right' %>
<h2><%= t 'blogs.admin_console_title' %></h2>

<table class="table">

  <thead>
    <tr>
      <th><%= t 'common.id' %></th>
      <th><%= t 'common.created_at' %></th>
      <th><%= User.human_attribute_name :fullname %></th>
      <th><%= t 'blogs.title' %></th>
      <th><%= t 'blogs.body' %></th>
      <th colspan="3"><%= t 'common.actions' %></th>
    </tr>
  </thead>

   <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.id %></td>
      <td><%= blog.created_at %></td>
      <td><%= blog.user.fullname %></td>
      <td><%= blog.title %></td>
      <td><%= truncate(blog.body) %></td>
      <td><%= link_to (t 'common.show'), blog_path(blog) %></td>
      <td><%= link_to (t 'common.edit'), edit_blog_path(blog) %></td>
      <td><%= link_to (t 'common.remove'), blog_path(blog),
            method: :delete,
            data: { confirm: (t 'common.confirm_message') } %></td>
    </tr>
  <% end %>

</table>
