
<% if can? :create, :blogs %>
  <%= link_to 'Create New Blog', new_blog_path, class: 'btn btn-default pull-right' %>
<% end %>
<h2>Recent Blogs</h2>

<% @blogs.each do |blog| %>
  <hr>
  <% if can? :edit, blog %>
    <%= link_to 'Edit', edit_blog_path(blog) %>
  <% end %>
  <% if can? :destroy, blog %>
    | <%= link_to 'Remove', blog_path(blog), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <!-- TODO handle blog.user.nil?, make sure user deletions cascade -->
  <h4>By <b><%= blog.user.fullname %></b></h4>
  Published <%= blog.created_at %>
  <h2><b><%= blog.title %></b></h2>
  <p><%= blog.body %></p>
<% end %>
<%= social_share_button_tag("TEST", :url => "www.google.com") %>