<% if can? :read, Blog %>
<%= link_to (t 'common.back'), blogs_path %>
<% end %>
<% if can? :edit, @blog %>
| <%= link_to (t 'common.edit'), edit_blog_path(@blog) %>
<% end %>

<h4>By <b><%= @blog.user.fullname %></b></h4>
<h2><b><%= @blog.title %></b></h2>
<p><%= @blog.body %></p>
