<style media="screen">
/* keep checkboxes on separate lines */
.checkbox_container {
  display: block;
}
</style>

<%= simple_form_for @mass_email do |f| %>
  <b><%= t 'mass_emails.select_groups_message' %></b></br>

  <%= f.collection_check_boxes :to, User.roles_ordered, lambda {|s| s},
    lambda {|r| User.human_enum_name :role, r }, :item_wrapper_class => 'checkbox_container' %>
  <%= f.input :subject, placeholder: (t 'mass_emails.subject_placeholder') %>
  <%= f.input :body, placeholder: (t 'mass_emails.body_placeholder') %>

  <div class='form-group'>
    <%= f.button :submit, value: (t 'mass_emails.send'), class: 'btn btn-primary' %>
    <%= link_to (t 'common.cancel'), mass_emails_path, class: 'btn btn-secondary' %>
  </div>

<% end %>
