
<%= simple_form_for @mass_email do |f| %>
  <b><%= t 'mass_emails.select_groups_message' %></b></br>
  <%= check_box_tag("to[]","admin") %> <%= t 'mass_emails.administrators' %> </br>
  <%= check_box_tag("to[]","moderator") %> <%= t 'mass_emails.moderators' %> </br>
  <%= check_box_tag("to[]","steerer") %> <%= t 'mass_emails.steerers' %> </br>
  <%= check_box_tag("to[]","super_artist") %> <%= t 'mass_emails.super_artists' %> </br>
  <%= check_box_tag("to[]","artist") %> <%= t 'mass_emails.artists' %> </br>
  <%= check_box_tag("to[]","resident") %> <%= t 'mass_emails.residents' %> </br>

  <%= f.input :subject, placeholder: (t 'mass_emails.subject_placeholder') %>
  <%= f.input :body, placeholder: (t 'mass_emails.body_placeholder') %>

  <div class='form-group'>
    <%= f.button :submit, value: (t 'mass_emails.send'), class: 'btn-primary pull-right' %>
    <%= link_to (t 'common.cancel'), mass_emails_path %>
  </div>

<% end %>
