
<% if can? :create, MassEmail %>
  <%= link_to (t 'mass_emails.create_new'), new_mass_email_path, class: 'btn btn-primary pull-right top-40 clearfix' %>
<% end %>
<h2><%= t 'mass_emails.mass_emails' %></h2>

<table class="table">

  <thead>
    <tr>
      <th><%= t 'common.id' %></th>
      <th><%= t 'mass_emails.sent_at' %></th>
      <th><%= t 'mass_emails.to' %></th>
      <th><%= t 'mass_emails.subject' %></th>
      <th><%= t 'mass_emails.body' %></th>
      <th colspan="6"><%= t 'common.actions' %></th>
    </tr>
  </thead>

   <% @mass_emails.each do |me| %>
    <tr>
      <td><%= me.id %></td>
      <td><%= me.created_at.strftime("%B %d, %Y") %></td>
      <td><%= me.to %></td>
      <td><%= me.subject %></td>
      <td><%= truncate(me.body) %></td>
      <td><%= link_to (t 'common.show'), mass_email_path(me) %></td>
      <td><%= link_to (t 'common.remove'), mass_email_path(me),
            method: :delete,
            data: { confirm: (t 'common.confirm_message') } %></td>
    </tr>
  <% end %>
</table>
