
<%= link_to 'Back', mass_emails_path %> 

<h4><b>  Date Sent: </b></h4>
<p><%= @me.created_at.strftime("%B %d, %Y") %></p>
<h4><b>  To: </b></h4>
<p><%= @me.to %></p>
<h4><b>  Subject: </b></h4>
<p><%= @me.subject %></p>
<h4><b>  Body: </b></h4>
<p><%= @me.body %></p>

 
