

<nav class="navbar navbar-light">
  <div class="container">

    <button class="navbar-toggler hidden-md-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
    <!-- hidden-sm-down to hide brand -->

    <div class="collapse navbar-toggleable-sm" id="navbarResponsive">
      <%= link_to root_url, class: 'navbar-brand' do %>
        <i class="fa fa-pause" style="color: #F6992F;"></i>
      <% end %>

      <ul class="nav navbar-nav float-md-right">

        <%# Dropdown specific to role %>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
              <%= User.human_enum_name(:role, current_user.role) %>
            </a>
            <div class="dropdown-menu">
            <% if can? :manage, User %>
              <%= link_to (t 'shared.users_console'), admin_users_path, class: 'dropdown-item' %>
            <% end %>
            <% if can? :manage, Iteration %>
              <%= link_to (t 'shared.iteration_console'), admin_edit_phase_path, class: 'dropdown-item' %>
            <% end %>
            <% if can? :manage, Category %>
              <%= link_to (t 'shared.categories_console'), categories_path, class: 'dropdown-item' %>
            <% end %>
            <% if can? :manage, MassEmail %>
              <%= link_to (t 'shared.mass_emails_console'), mass_emails_path, class: 'dropdown-item' %>
            <% end %>
            <% if can? :manage, Landingpage %>
              <%= link_to (t 'shared.landingpages_console'), landingpages_path, class: 'dropdown-item' %>
            <% end %>
            <% if can? :manage, Vote %>
              <%= link_to (t 'shared.votes_console'), votes_path, class: 'dropdown-item' %>
            <% end %>
            <div class="dropdown-divider"></div>
            <% if current_user.steerer? %>
              <%= link_to (t 'shared.steering_home'), steering_home_path, class: 'dropdown-item' %>
            <% end %>
            <% if current_user.artist? or current_user.super_artist? %>
              <%= link_to (t 'shared.artist_home'), artist_home_path, class: 'dropdown-item' %>
            <% end %>
            <%= link_to (t 'shared.manage_profile'), user_info_path, class: 'dropdown-item' %>
          </div>
          </li>
        <% end %>

        <%# Votes link - only appears when admin or in voting phase (see Ability) %>
        <% if can? :create, Vote %>
          <li class="nav-item"><%= link_to (t 'shared.vote'), new_vote_path, class: 'nav-link' %></li>
        <% end %>

        <%# Proposals menu - "readonly" when not in proposals phase, otherwise has create option %>
        <% if can? :read, Proposal %>
          <% if user_has_admin_access or Iteration.get_current.proposals? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><%= Proposal.model_name.human(count:2) %></a>
              <div class="dropdown-menu">
                <% if can? :create, Proposal %>
                  <%= link_to (t 'shared.create_proposal'), new_proposal_path, class: 'dropdown-item' %>
                <% end %>
                <% if can? :read, Proposal %>
                  <%= link_to (t 'shared.proposals_console'), proposals_path, class: 'dropdown-item' %>
                <% end %>
              </div>
            </li>
          <% elsif !Iteration.get_current.ideas? %>
            <li class="nav-item"><%= link_to Proposal.model_name.human(count:2), proposals_path, class: 'nav-link' %></li>
          <% end %>
        <% end %>

        <%# Ideas menu  - "readonly" when not in voting phase, otherwise has create option %>
        <% if can? :read, Idea %>
          <% if user_has_admin_access or Iteration.get_current.ideas? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><%= Idea.model_name.human(count:2) %></a>
              <div class="dropdown-menu">
                <% if can? :create, Idea %>
                  <%= link_to (t 'shared.create_idea'),  new_idea_path, class: 'dropdown-item' %>
                <% end %>
                <% if can? :read, Idea %>
                  <% if user_has_admin_access %>
                    <%= link_to (t 'shared.ideas_console'),  ideas_path, class: 'dropdown-item' %>
                  <% else %>
                    <%= link_to (t 'shared.view_ideas'),  proposal_collection_path, class: 'dropdown-item' %>
                  <% end %>
                <% end %>
              </div>
            </li>
          <% else %>
            <li class="nav-item"><%= link_to Idea.model_name.human(count:2), proposal_collection_path, class: 'nav-link' %></li>
          <% end %>
        <% end %>

        <%# Blog, About always visible %>
        <% if can? :read, Blog %>
          <li class="nav-item"><%= link_to Blog.model_name.human(count:2), blogs_path, class: 'nav-link' %></li>
        <% end %>
        <li class="nav-item"><%= link_to (t 'shared.about'),  about_path, class: 'nav-link' %></li>

        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to (t 'shared.logout'), destroy_user_session_path, :method => :delete, class: 'signup-btn btn btn-outline-primary' %>
          <% else %>
            <%= link_to (t 'shared.login'), new_user_session_path, class: 'signup-btn btn btn-outline-primary' %>
          <% end %>
        </li>
      </ul>
    </div> <!-- /.navbar-collapse -->

  </div><!-- /.container -->
</nav>
