

<nav class="navbar navbar-default navbar-static-top">

  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_url, class: 'navbar-brand' do %>
        <i class="glyphicon glyphicon-home"></i>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">

        <% if user_signed_in? %>
          <!-- Admin Options -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#">Admin</a>
            <ul class="dropdown-menu">
            <li><%= link_to 'Blogs Console', blogs_admin_console_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Categories Console', categories_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Proposals Console', proposals_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Users Console', admin_overview_path %></li>
            </ul>
          </li>

          <!-- Artist Options -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#">Artist</a>
            <ul class="dropdown-menu">
            <li><%= link_to 'Create Proposal', new_proposal_path %></li>
            <li><%= link_to 'Proposals Home', proposals_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Create Blog Post', new_blog_path %></li>
            <li><%= link_to 'Recent Blogs', blogs_path %></li>
            <li><%= link_to 'Blogs Console', blogs_admin_console_path %></li>
            </ul>
          </li>

          <!-- Moderator Options -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Moderator</a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Create Idea',  new_idea_path %></li>
              <li><%= link_to 'Ideas Console',  ideas_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Create Category', new_category_path %></li>
            <li><%= link_to 'Categories Console', categories_path %></li>
            </ul>
          </li>
        <% end %>

	 <li><%= link_to 'Approved Ideas', ideas_path %></li>
        <li><a class="nav-link" href=<%= about_path %> >About</a></li>
        <li><a class="nav-link" href=<%= root_path %> >Get Involved</a></li> <!-- Or is it supposed to be idea_collection_path???-->

        <li class="navbar-button-item">
          <% if user_signed_in? %>
          <div class="navbar-form">
            <%= link_to "logout", destroy_user_session_path, :method => :delete, class: 'signup-btn btn btn-default' %>
          </div>
          <% else %>
            <div class="navbar-form">
              <%= link_to "login", new_user_session_path, class: 'signup-btn btn btn-default' %>
            </div>
          <% end %>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
