

<nav class="navbar navbar-light">
  <div class="container">

    <button class="navbar-toggler hidden-md-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
    <!-- hidden-sm-down to hide brand -->

    <div class="collapse navbar-toggleable-sm" id="navbarResponsive">
      <%= link_to root_url, class: 'navbar-brand' do %>
        <i class="fa fa-home"></i>
      <% end %>
      <ul class="nav navbar-nav float-md-right">
        <% if not current_user.nil? and (current_user.admin? or current_user.moderator?) %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Admin</a>
            <div class="dropdown-menu">
            <% if can? :access, :users %>
              <%= link_to 'Admin Console', list_users_path, class: 'dropdown-item' %>
            <% end %>
            <div class="dropdown-divider"></div>
            <% if can? :access, :categories %>
              <%= link_to 'Create Category', new_category_path, class: 'dropdown-item' %>
              <%= link_to 'Categories Console', categories_path, class: 'dropdown-item' %>
            <% end %>
            <div class="dropdown-divider"></div>
            <% if can? :access, :mass_emails %>
              <%= link_to 'Create Mass Email', new_mass_email_path, class: 'dropdown-item' %>
              <%= link_to 'Mass Emails Console', mass_emails_path, class: 'dropdown-item' %>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Votes Console', votes_path, class: 'dropdown-item' %>
          </div>
          </li>
        <% end %>

        <% if can? :read, :blogs %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Blog</a>
            <div class="dropdown-menu">
              <% if can? :create, :blogs %>
                <%= link_to 'Create Blog Post', new_blog_path, class: 'dropdown-item' %>
              <% end %>
              <% if can? :read, :blogs %>
                <%= link_to 'Blogs Console', blogs_path, class: 'dropdown-item' %>
              <% end %>
            </div>
          </li>
        <% end %>

        <% if can? :read, :proposals %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Proposals</a>
            <div class="dropdown-menu">
              <%= link_to 'Proposals collection', proposal_collection_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <% if can? :create, :votes %>
                <%= link_to 'Vote on Proposals', new_vote_path, class: 'dropdown-item' %>
              <% end %>
              <% if can? :create, :proposals %>
                <%= link_to 'Create Proposal', new_proposal_path, class: 'dropdown-item' %>
              <% end %>
              <% if can? :read, :proposals %>
                <%= link_to 'Proposals Console', proposals_path, class: 'dropdown-item' %>
              <% end %>
            </div>
          </li>
        <% end %>

        <% if can? :read, :ideas %> <%#TODO can? "do anything with" :ideas %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Ideas</a>
            <div class="dropdown-menu">
              <% if can? :create, :ideas %>
                <%= link_to 'Create Idea',  new_idea_path, class: 'dropdown-item' %>
              <% end %>
              <% if can? :read, :ideas %>
                <%= link_to 'Ideas Console',  ideas_path, class: 'dropdown-item' %>
              <% end %>
            </div>
          </li>
        <% end %>


        <li class="nav-item"><%= link_to 'About',  about_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Get Involved', about_path, class: 'nav-link' %></li> <!-- Or is it supposed to be idea_collection_path???-->

        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to "logout", destroy_user_session_path, :method => :delete, class: 'signup-btn btn btn-outline-primary' %>
          <% else %>
            <%= link_to "login", new_user_session_path, class: 'signup-btn btn btn-outline-primary' %>
          <% end %>
        </li>
      </ul>
    </div> <!-- /.navbar-collapse -->

  </div><!-- /.container -->
</nav>
