
<%= simple_form_for @idea do |f| %>

	<%= f.input :lat, :as => :hidden  %>
	<%= f.input :lng, :as => :hidden %>
	<%= f.input :address, :as => :hidden %>

	<%= f.input :first_name, placeholder: (t 'common.first_name_placeholder') %>
	<%= f.input :last_name, placeholder: (t 'common.last_name_placeholder') %>

	<%= f.input :email, placeholder: (t 'common.email_placeholder') %>
	<%= f.input :phone, placeholder: (t 'common.phone_placeholder') %>

	<% if user_has_admin_access %>
		<%= f.input :medium, as: :select, collection: Idea.media, selected: Idea.media[@idea.medium] %>
	<% end %>

	<%= f.input :category_id, as: "select", collection: Category.all, selected: 1 %>

  <%= f.input :description, placeholder: (t 'ideas.description_placeholder') %>

	<%# Adding a recaptcha to the form %>
	<%#= recaptcha_tags if not user_signed_in? %>

  <div class='form-group'>
    <%= f.button :submit, value: (t 'common.submit'), class: 'btn-primary pull-right' %>
    <%# link_to ' Cancel', ideas_path %>
  </div>

<% end %>
