
<%= simple_form_for @idea do |f| %>

	<%= f.input :first_name, placeholder: 'first name' %>
	<%= f.input :last_name, placeholder: 'last name' %>

	<%= f.input :email, placeholder: 'pparker@dailybugle.com' %>
	<%= f.input :phone, placeholder: '555-555-5555' %>
	<%= f.input :location, placeholder: 'queens' %>

	<%= f.input :category_id, as: "select", collection: Category.all, selected: 1 %>

  <%= f.input :description, placeholder: "what's your idea?" %>

	<%# Adding a recaptcha to the form %>
	<%#= recaptcha_tags if not user_signed_in? %>

  <div class='form-group'>
    <%= f.button :submit, value: 'Submit', class: 'btn-primary pull-right' %>
    <%# link_to ' Cancel', ideas_path %>
  </div>

<% end %>
