
<!-- <script>alert('No users!')</script>-->
<% if can? :create, :ideas %>
  <%= link_to (t 'ideas.create_new'), new_idea_path, class: 'btn btn-primary pull-right clearfix' %>
<% end %>

<br/>
<br/>

<h2 class="pull-left"><%= t Idea.model_name.human(count:2) %></h2>
<div class="dropdown pull-right" style="inline-block">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t 'common.sort' %></a>
  <div class="dropdown-menu dropdown-menu-right">
    <!-- We are passing the sort parameter here -->
    <a href="?sort=likes" class="dropdown-item" ><%= Idea.human_attribute_name :likes %></a>
    <% if user_has_admin_access %>
      <a href="?sort=author_last_name" class="dropdown-item"><%= t 'common.author_first_name' %></a>
    <% end %>
    <% if user_has_admin_access %>
      <a href="?sort=author_first_name" class="dropdown-item"><%= t 'common.author_last_name' %></a>
    <% end %>
    <a href="?sort=date" class="dropdown-item"><%= t 'common.date' %></a>
    <% if user_has_admin_access %>
      <a href="?sort=id" class="dropdown-item"><%= t 'common.id' %></a>
    <% end %>
    <a href="?sort=category" class="dropdown-item"><%= Category.model_name.human %></a>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">

    <thead>
      <tr>
        <% if user_has_admin_access %>
          <th><%= t 'common.id' %></th>
        <% end %>

        <% if user_has_admin_access %>
          <th><%= t 'common.author' %></th>
        <% end %>

        <th><%= t 'common.created_at' %></th>

        <th><%= Category.model_name.human %></th>

        <th><%= Idea.human_attribute_name :description %></th>

        <% if user_has_admin_access %>
          <th><%= Idea.human_attribute_name :status %></th>
        <% end %>

        <% if user_has_admin_access %>
          <th><%= Idea.human_attribute_name :medium %></th>
        <% end %>

        <th><%= Idea.human_attribute_name :likes %></th>

        <!-- <% if can? :like, Idea or
          can? :show, Idea or
          can? :edit, Idea or
          can? :approve, Idea or
          can? :destroy, Idea %>
          <th colspan="1"><%= t 'common.actions' %></th>
         <% end %> -->
      </tr>
    </thead>

    <% @ideas.each do |idea| %>

        <tr class="row-link" data-href="<%= idea_path(idea) %>">
          <% if idea.respond_to? :id and user_has_admin_access %>
            <td><%= idea.id %></td>
          <% end %>

          <% if idea.respond_to? :first_name %>
            <td><%= idea.author %></td>
          <% end %>

          <% if idea.respond_to? :created_at %>
            <td><%= idea.created_at.strftime "%D" %></td>
          <% end %>

          <% if idea.respond_to? :category %>
            <td><%= idea.category.name %></td>
          <% end %>

          <% if idea.respond_to? :description %>
            <td><%= truncate(idea.description) %></td>
          <% end %>

          <% if idea.respond_to? :status %>
            <td><span class="badge <%= if idea.approved? then "badge-success" else "badge-danger" end %>">
              <%= Idea.human_enum_name(:status, idea.status) %></span></td>
          <% end %>

          <% if idea.respond_to? :medium %>
            <td><span class="badge badge-info"><%= Idea.human_enum_name(:medium, idea.medium) %></span></td>
          <% end %>

          <% if idea.respond_to? :likes %>
            <td><%= idea.likes  %></td>
          <% end %>

          <!-- <% if can? :read, Idea, :description %>
            <td><%= social_share_button_tag(idea.description, :popup => "true")%></td>
          <% end %> -->

          <!-- <% if can? :show, Idea %>
            <td><%= link_to (t 'common.show'), idea_path(idea) %></td>
          <% end %> -->

          <!-- <% if can? :edit, Idea %>
            <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
          <% end %>

          <% if can? :approve, Idea %>
            <td><%= link_to (t 'common.approve'), idea_approve_path(idea), method: :post %></td>
          <% end %>

          <% if can? :destroy, Idea %>
            <td><%= link_to (t 'common.remove'), idea_path(idea),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
          <% end %> -->

        </tr>
    <% end %>

  </table>

  <%= will_paginate @ideas,
        :class => "pagination-wrapper",
        :previous_label => (t 'common.previous'),
        :next_label => (t 'common.next') %>

</div>
