
<!-- <script>alert('No users!')</script>-->
<% if can? :create, :ideas %>
  <%= link_to 'Create New Idea', new_idea_path, class: 'btn btn-primary pull-right clearfix' %>
<% end %>

<br/>
<br/>

<h2 class="pull-left">ideas</h2>
<div class="dropdown pull-right" style="inline-block">
  <a href="#" class="dropdown-toggle">sort</a>
  <div class="dropdown-menu dropdown-menu-right">
    <!-- We are passing the sort parameter here -->
    <a href="?sort=likes" class="dropdown-item" >likes</a>
    <% if can? :read, :ideas, :first_name %>
      <a href="?sort=author_last_name" class="dropdown-item">author last name</a>
    <% end %>
    <% if can? :read, :ideas, :last_name %>
      <a href="?sort=author_first_name" class="dropdown-item">author first name</a>
    <% end %>
    <a href="?sort=date" class="dropdown-item">date</a>
    <a href="?sort=id" class="dropdown-item">id</a>
    <a href="?sort=category" class="dropdown-item">category</a>
  </div>
</div>



<div class="table-responsive">
  <table class="table table-striped">

    <thead>
      <tr>
        <% if not current_user.nil? and (current_user.admin? or current_user.moderator?) %>
          <th>ID</th>
        <% end %>

        <% if can? :read, :ideas, :first_name and can? :read, :ideas, :last_name %>
          <th>Author</th>
        <% end %>

        <% if can? :read, :ideas, :created_at %>
          <th>Created At</th>
        <% end %>

        <% if can? :read, :ideas, :category %>
          <th>Category</th>
        <% end %>

        <% if can? :read, :ideas, :description %>
          <th>Description</th>
        <% end %>

        <% if can? :read, :ideas, :status %>
          <th>Status</th>
        <% end %>

        <% if can? :read, :ideas, :likes %>
          <th>Likes</th>
        <% end %>

        <% if can? :like, :ideas or
          can? :show, :ideas or
          can? :edit, :ideas or
          can? :approve, :ideas or
          can? :destroy, :ideas %>
          <th colspan="3">Actions</th>
         <% end %>
      </tr>
    </thead>

    <% @ideas.each do |idea| %>
      <% if can? :read, idea %>
        <tr>
          <% if not current_user.nil? and (current_user.admin? or current_user.moderator?) %>
            <td><%= idea.id %></td>
          <% end %>

          <% if can? :read, idea, :first_name and can? :read, idea, :last_name %>
            <td><%= idea.author %></td>
          <% end %>

          <% if can? :read, idea, :created_at %>
            <td><%= idea.created_at.strftime "%D" %></td>
          <% end %>

          <% if can? :read, idea, :category %>
            <td><%= idea.category.name %></td>
          <% end %>

          <% if can? :read, idea, :description %>
            <td><%= truncate(idea.description) %></td>
          <% end %>

          <% if can? :read, idea, :status %>
            <td><%= idea.status %></td>
          <% end %>
          
          <td>
          <%= render :partial => 'like_button', locals: {idea: idea}  %> 
          </td>
          
          <% if can? :read, idea, :description %>
            <td><%= social_share_button_tag("Pauselab - BeCville: " + idea.description, :popup => "true")%></td>

          <% end %>          
          
          <% if can? :show, idea %>
            <td><%= link_to 'Show', idea_path(idea) %></td>
          <% end %>

          <% if can? :edit, idea %>
            <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
          <% end %>

          <!-- <% if can? :approve, idea %>
            <td><%= link_to 'Approve', idea_approve_path(idea),
      	      method: :post,
      	      data: {confirm: 'Are you sure?' } %></td>
          <% end %> -->

          <% if can? :destroy, idea %>
            <td><%= link_to 'Remove', idea_path(idea),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>

  </table>
</div>
