
<!-- <script>alert('No users!')</script>-->
<% if can? :create, :ideas %>
  <%= link_to 'Create New Idea', new_idea_path, class: 'btn btn-primary pull-right clearfix' %>
<% end %>

<br/>
<br/>

<h2 class="pull-left">Ideas</h2>
<div class="dropdown pull-right" style="inline-block">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">sort</a>
  <div class="dropdown-menu dropdown-menu-right">
    <!-- We are passing the sort parameter here -->
    <a href="?sort=likes" class="dropdown-item" >likes</a>
    <% if user_has_admin_access %>
      <a href="?sort=author_last_name" class="dropdown-item">author last name</a>
    <% end %>
    <% if user_has_admin_access %>
      <a href="?sort=author_first_name" class="dropdown-item">author first name</a>
    <% end %>
    <a href="?sort=date" class="dropdown-item">date</a>
    <% if user_has_admin_access %>
      <a href="?sort=id" class="dropdown-item">id</a>
    <% end %>
    <a href="?sort=category" class="dropdown-item">category</a>
  </div>
</div>



<div class="table-responsive">
  <table class="table table-striped">

    <thead>
      <tr>
        <% if user_has_admin_access %>
          <th>ID</th>
        <% end %>

        <% if user_has_admin_access %>
          <th>Author</th>
        <% end %>

        <th>Created At</th>

        <th>Category</th>

        <th>Description</th>

        <% if user_has_admin_access %>
          <th>Status</th>
        <% end %>

        <th>Likes</th>

        <% if can? :like, Idea or
          can? :show, Idea or
          can? :edit, Idea or
          can? :approve, Idea or
          can? :destroy, Idea %>
          <th colspan="1">Actions</th>
         <% end %>
      </tr>
    </thead>

    <% @ideas.each do |idea| %>
        <tr>
          <% if idea.respond_to? :id and user_has_admin_access %>
            <td><%= idea.id %></td>
          <% end %>

          <% if idea.respond_to? :first_name %>
            <td><%= idea.author %></td>
          <% end %>

          <% if idea.respond_to? :created_at %>
            <td><%= idea.created_at.strftime "%D" %></td>
          <% end %>

          <% if idea.respond_to? :category %>
            <td><%= idea.category.name %></td>
          <% end %>

          <% if idea.respond_to? :description %>
            <td><%= truncate(idea.description) %></td>
          <% end %>

          <% if idea.respond_to? :status %>
            <td><%= idea.status %></td>
          <% end %>

          <td>
            <%= idea.likes  %>
          </td>

          <!-- <% if can? :read, Idea, :description %>
            <td><%= social_share_button_tag(idea.description, :popup => "true")%></td>
          <% end %> -->

          <% if can? :show, Idea %>
            <td><%= link_to 'Show', idea_path(idea) %></td>
          <% end %>

          <!-- <% if can? :edit, Idea %>
            <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
          <% end %>

          <% if can? :approve, Idea %>
            <td><%= link_to 'Approve', idea_approve_path(idea), method: :post %></td>
          <% end %>

          <% if can? :destroy, Idea %>
            <td><%= link_to 'Remove', idea_path(idea),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
          <% end %> -->
          
        </tr>
    <% end %>

  </table>
</div>
