
<%= link_to 'create new idea', new_idea_path, class: 'btn btn-default pull-right top-40' %>

<h2 class="page-header">ideas</h2>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rankingz <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <!-- We are passing the sort parameter here -->
    <li><a href="?sort=id">id</a></li>
    <li><a href="?sort=likes">likes</a></li>
  </ul>
</li>
<div class="table-responsive">
  <table class="table table-striped">

    <thead>
      <tr>
        <th>ID</th>  <%# TODO remove column %>

        <% if can? :read, :ideas, :first_name and can? :read, :ideas, :last_name %>
          <th>Author</th>
        <% end %>

        <% if can? :read, :ideas, :created_at %>
          <th>Created At</th>
        <% end %>

        <% if can? :read, :ideas, :description %>
          <th>Description</th>
        <% end %>

        <% if can? :read, :ideas, :status %>
          <th>Status</th>
        <% end %>

        <% if can? :read, :ideas, :likes %>
          <th>Likes</th>
        <% end %>

        <% if can? :like, :ideas or
          can? :show, :ideas or
          can? :edit, :ideas or
          can? :approve, :ideas or
          can? :destroy, :ideas %>
          <th colspan="5">Actions</th>
         <% end %>
      </tr>
    </thead>

    <% @ideas.each do |idea| %>
      <% if can? :read, idea %>
        <tr>
          <td><%= idea.id %></td>

          <% if can? :read, idea, :first_name and can? :read, idea, :last_name %>
            <td><%= idea.author %></td>
          <% end %>

          <% if can? :read, :ideas, :created_at %>
            <td><%= idea.created_at.strftime("%B %d, %Y") %></td>
          <% end %>

          <% if can? :read, :ideas, :description %>
            <td><%= truncate(idea.description) %></td>
          <% end %>

          <% if can? :read, :ideas, :status %>
            <td><%= idea.status %></td>
          <% end %>

          <% if can? :read, :ideas, :likes %>
            <td><%= idea.likes %></td>
          <% end %>

          <% if can? :like, idea %>
            <td>
              <% unless @likes.include?(idea.id) %>
                <a href=<%= idea_like_path(idea) %> ><i class="glyphicon glyphicon-thumbs-up"></i></a>
              <% else %>
                <a href=<%= idea_like_path(idea) %> ><i class="glyphicon glyphicon-thumbs-down"></i></a>
              <% end %>
            </td>
          <% end %>

          <% if can? :show, idea %>
            <td><%= link_to 'Show', idea_path(idea) %></td>
          <% end %>

          <% if can? :edit, idea %>
            <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
          <% end %>

          <% if can? :approve, idea %>
            <td><%= link_to 'Approve', idea_approve_path(idea),
      	      method: :post,
      	      data: {confirm: 'Are you sure?' } %></td>
          <% end %>

          <% if can? :destroy, idea %>
            <td><%= link_to 'Destroy', idea_path(idea),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>

  </table>
</div>
