


<h1>pauseLab</h1>
<h2>idea collection</h2>
<p><%= link_to 'create new idea', new_idea_path%></p>

<table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
 
  <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.name %></td>
      <td><%= link_to 'Show', idea_path(idea) %></td>
      <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
      <td><%= link_to 'Destroy', idea_path(idea),
               method: :delete,
               data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>