<style media="screen">
	.idea_count {
		font-size: 0.8em;
		/*border: 1px solid black;*/
		margin-right: 5px;
	}
	.idea-link, .idea-link:hover {
		text-decoration: none;
		color: inherit;
	}
</style>

<% if Iteration.get_current.proposals? %>
	<h1 class="page-header text-lg-center"><%= t 'ideas.calling_artists' %></h1>
	<div class="text-lg-center" style="margin-top: 20px;">
		<% if user_signed_in? %>
			<%= link_to (t 'ideas.submit_proposal'), new_proposal_path, class: 'btn btn-primary'%>
		<% else %>
			<%= link_to (t 'ideas.submit_proposal'), new_user_session_path, class: 'btn btn-primary'%>
		<% end %>
	</div>
<% else %>
	<h1 class="page-header text-lg-center"><%= t 'ideas.submitted_ideas' %></h1>
<% end %>

<br/>

<!--
<div class="dropdown pull-right" style="inline-block">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t 'common.sort' %></a>
  <div class="dropdown-menu dropdown-menu-right">
    <a href="?sort=likes" class="dropdown-item" ><%= "likes" %></a>
      <a href="?sort=author_last_name" class="dropdown-item"><%= t 'ideas.author_first_name' %></a>
      <a href="?sort=author_first_name" class="dropdown-item"><%= t 'ideas.author_last_name' %></a>
    <a href="?sort=date" class="dropdown-item"><%= t 'common.date' %></a>
      <a href="?sort=id" class="dropdown-item"><%= t 'common.id' %></a>
    <a href="?sort=category" class="dropdown-item"><%= "category" %></a>
  </div>
</div>
-->

<div class="card-columns">

 <% @ideas.each do |idea| %>
	<div class="card">

		<div class="card-header text-muted">
			<%= idea.category.name %>
		</div>

		<%= link_to (idea_path idea), {class: 'idea-link'} do %>
			<div class="card-block">
				<p class="card-text">
					<!-- <%= truncate idea.description, length: 50 %> -->
					<%= idea.description %>
				</p>
			</div>
		<% end %>

		<div class="card-footer" align="left">
				<span class="share-btns">
					<button class="btn btn-sm btn-outline-primary fb-btns" data-desc="<%= idea.description %>" data-id="<%= idea.id %>">
						<i class="fa fa-facebook "></i>
					</button>
					<button class="btn btn-sm btn-outline-primary twtr-btns" data-desc="<%= idea.description %>" data-id="<%= idea.id %>">
						<i class="fa fa-twitter "></i>
					</button>
				</span>
        <!-- <%= social_share_button_tag("Pauselab - BeCville: " + idea.description,  :popup => "true")%> -->
      <span class="pull-right">
				<%= render :partial => 'like_button', locals: {idea: idea}  %>
			</span>
		</div>

	</div>
 <% end %>

</div>

<%= will_paginate @ideas,
		 :class => "pagination-wrapper",
		 :previous_label => (t 'common.previous'),
		 :next_label => (t 'common.next') %>
