<h1 class="page-header text-lg-center"><%= t 'ideas.calling_artists' %></h1>
<div class="text-lg-center" style="margin-top: 20px;">
	<%= link_to (t 'ideas.submit_proposal'), new_proposal_path, class: 'btn btn-primary'%>
</div>
<br/>

<div class="card-columns">
 <% @ideas.each do |idea| %>
	<div class="card">
		<div class="card-header text-muted">
			<%= idea.category.name %>
			<!-- <a href="#" class="btn btn-primary pull-right">submit</a> -->
		</div>
		<!-- <img src="<%= get_static_map idea %>" alt="map" class="card-img-middle img-fluid"> -->
		<!-- hidden-md-down -->
		<div class="card-block">
			<p class="card-text"><%= truncate idea.description, length: 50 %></p>
			<!-- <a class="btn btn-sm btn-outline-primary"><i class="fa fa-thumbs-o-up "></i></a> -->
		</div>
		<div class="card-footer" align="left">
			<% if can? :read, idea, :description %>
        <%= social_share_button_tag("Pauselab - BeCville: " + idea.description,  :popup => "true")%>
      <% end %>
      <span style="float:right;"><%= render :partial => 'like_button', locals: {idea: idea}  %></span>
		</div>

	</div>
 <% end %>
</div>
