<style media="screen">
	.idea_count {
		font-size: 0.8em;
		/*border: 1px solid black;*/
		margin-right: 5px;
	}
	.idea-link, .idea-link:hover {
		text-decoration: none;
		color: inherit;
	}
</style>

<% if Iteration.get_current.proposals? %>
	<h1 class="page-header text-lg-center">Calling all artists</h1>
	<div class="text-lg-center" style="margin-top: 20px;">
		<%= link_to 'Submit proposal', new_proposal_path, class: 'btn btn-primary'%>
	</div>
<% else %>
	<h1 class="page-header text-lg-center">Submitted ideas</h1>
<% end %>

<br/>

<div class="card-columns">

 <% @ideas.each do |idea| %>
	<div class="card">

		<div class="card-header text-muted">
			<%= idea.category.name %>
		</div>

		<!-- <img src="<%= get_static_map idea %>" alt="map" class="card-img-middle img-fluid"> -->

		<%= link_to (idea_path idea), {class: 'idea-link'} do %>
			<div class="card-block">
				<p class="card-text">
					<!-- <%= truncate idea.description, length: 50 %> -->
					<%= idea.description %>
				</p>
			</div>
		<% end %>

		<div class="card-footer" align="left">
			<% if can? :read, idea, :description %>
				<span class="share-btns">
					<button class="btn btn-sm btn-outline-primary fb-btns" data-desc="<%= idea.description %>" data-id="<%= idea.id %>">
						<i class="fa fa-facebook "></i>
					</button>
					<button class="btn btn-sm btn-outline-primary twtr-btns" data-desc="<%= idea.description %>" data-id="<%= idea.id %>">
						<i class="fa fa-twitter "></i>
					</button>
				</span>
        <!-- <%= social_share_button_tag("Pauselab - BeCville: " + idea.description,  :popup => "true")%> -->
      <% end %>
      <span class="pull-right">
				<%= render :partial => 'like_button', locals: {idea: idea}  %>
			</span>
		</div>

	</div>
 <% end %>

</div>

<%= will_paginate @ideas,
		 :class => "pagination-wrapper",
		 :previous_label => "previous",
		 :next_label => "next" %>
