<div class="row">

  <div class="col-sm-6">
    <div id="map" class="idea-map-pick" data-lat="<%= @idea.lat %>" data-lng="<%= @idea.lng %>"></div>
    <span class="text-muted"><i><%= @idea.address %></i></span>
  </div>

  <div class="col-sm-6">
    <div class="center-block">

      <% if @idea.respond_to? :first_name %>
        <h4><%= @idea.author %></h4>
      <% end %>
      <% if @idea.respond_to? :description %>
        <p><%= @idea.description %></p>
        <td><%= social_share_button_tag(@idea.description, :popup => "true")%></td>
      <% end %>

      <div>
        <% if @idea.respond_to? :email %>
          <span><b><%= t 'common.user_email' %>: </b> <%= @idea.email%></span><br>
        <% end %>
        <% if @idea.respond_to? :likes %>
          <span><b><%= t 'ideas.likes' %>: </b> <%= @idea.likes %> </span><br>
        <% end %>
        <% if @idea.respond_to? :phone %>
          <span><b><%= t 'common.user_phone' %>: </b> <%= number_to_phone @idea.phone, area_code: true, delimiter: " " %></span><br>
        <% end %>
        <% if @idea.respond_to? :status %>
          <span><b><%= t 'ideas.status' %>: </b> <%= @idea.status %></span><br>
        <% end %>
        <% if @idea.respond_to? :created_at %>
          <span><b><%= t 'common.created_at' %>: </b> <%= @idea.created_at.strftime("%B %d, %Y")%></span><br/>
        <% end %>
      </div>

      <hr>

      <div class="">
        <% if can? :approve, @idea %>
          <%= link_to idea_approve_path(@idea), method: :post, class: "btn btn-sm btn-primary" do %>
            <i class="fa fa-check"></i>
          <% end %>
        <% end %>
        <% if can? :edit, @idea %>
          <%= link_to edit_idea_path(@idea), class: "btn btn-sm btn-primary" do %>
            <i class="fa fa-pencil-square-o"></i>
          <% end %>
        <% end %>
        <% if can? :delete, @idea %>
          <%= link_to idea_path(@idea), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: (t 'common.confirm_message') } do %>
            <i class="fa fa-trash"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- async defer  -->
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=showMap"></script>
