
<br>
<br>

<div class="row">

  <div class="col-sm-6">
    <div id="map" class="idea-map-pick" data-lat="<%= @idea.lat %>" data-lng="<%= @idea.lng %>"></div>
    <span class="text-muted"><i><%= @idea.address %></i></span>
  </div>

  <div class="col-sm-6">
    <div class="center-block">

      <h4><%= @idea.author %></h4>
      <p><%= @idea.description %></p>

      <div class="">
        <span><b>email: </b> <%= @idea.email%></span><br>
        <span><b>likes:</b> <%= @idea.likes %> </span><br>
        <span><b>phone:</b> <%= number_to_phone @idea.phone, area_code: true, delimiter: " " %></span><br>
        <span><b>status:</b> <%= @idea.status %></span><br>
        <span><b>created at:</b> <%= @idea.created_at.strftime("%B %d, %Y")%></span><br/>
      </div>

    </div>
  </div>

</div>

<!-- async defer  -->
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=showMap"></script>
