<div class="row">

  <div class="col-sm-6">
    <div id="map" class="idea-map-pick" data-lat="<%= @idea.lat %>" data-lng="<%= @idea.lng %>" data-cat="<%= @idea.category_id %>"></div>
    <span class="text-muted"><i><%= @idea.address %></i></span>
  </div>

  <div class="col-sm-6">
    <div class="center-block">

      <% if @idea.respond_to? :first_name %>
        <h4><%= @idea.author %></h4>
      <% end %>
      <% if @idea.respond_to? :description %>
        <p><%= @idea.description %></p>
          <div class="share-btns">
  					<button class="btn btn-sm btn-outline-primary fb-btns" data-desc="<%= @idea.description %>" data-id="<%= @idea.id %>">
  						<i class="fa fa-facebook "></i>
  					</button>
  					<button class="btn btn-sm btn-outline-primary twtr-btns" data-desc="<%= @idea.description %>" data-id="<%= @idea.id %>">
  						<i class="fa fa-twitter "></i>
  					</button>
  				</div>
          <!-- <%= social_share_button_tag(@idea.description, :popup => "true")%> -->
      <% end %>

      <div>
        <% if @idea.respond_to? :email %>
          <span><b>email: </b> <%= @idea.email%></span><br>
        <% end %>
        <% if @idea.respond_to? :likes %>
          <span><b>likes:</b> <%= @idea.likes %> </span><br>
        <% end %>
        <% if @idea.respond_to? :phone %>
          <span><b>phone:</b> <%= number_to_phone @idea.phone, area_code: true, delimiter: " " %></span><br>
        <% end %>
        <% if @idea.respond_to? :status %>
          <span><b>status:</b> <%= @idea.status %></span><br>
        <% end %>
        <% if @idea.respond_to? :created_at %>
          <span><b>created at:</b> <%= @idea.created_at.strftime("%B %d, %Y")%></span><br/>
        <% end %>
      </div>

      <hr>

      <div class="">
        <% if can? :approve, @idea %>

          <% if @idea.unchecked? %>
            <%= link_to idea_approve_path(@idea), method: :post, title: "approve", class: "btn btn-sm btn-primary", data: { confirm: 'Are you sure?', toggle: "tooltip" } do %>
              <i class="fa fa-check"></i>
            <% end %>
          <% else %>
            <%= link_to idea_approve_path(@idea), method: :post, title: "disapprove", class: "btn btn-sm btn-primary", data: { confirm: 'Are you sure?', toggle: "tooltip" } do %>
              <i class="fa fa-times"></i>
            <% end %>
          <% end %>


        <% end %>
        <% if can? :edit, @idea %>
          <%= link_to edit_idea_path(@idea), title: "edit idea", class: "btn btn-sm btn-primary", data: {toggle: "tooltip"} do %>
            <i class="fa fa-pencil-square-o"></i>
          <% end %>
        <% end %>
        <% if can? :delete, @idea %>
          <%= link_to idea_path(@idea), method: :delete, title: "delete idea", class: "btn btn-sm btn-danger", data: { confirm: 'Are you sure?', toggle: 'tooltip' } do %>
            <i class="fa fa-trash"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- async defer  -->
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=showMap"></script>
