
<%= render :layout => 'dashboard', :locals => { title: 'Change Phase', position: 'change_phase' } do %>

  <p>currently on <strong><%= @phase.phase %></strong> (<%= time_ago_in_words @phase.updated_at %>)</p>

  <%= simple_form_for :change_phase, url: change_phase_path, method: :put do |f| %>
    <%= f.input :phase, as: :select, collection: Phase.phases, selected: Phase.phases[@phase.phase], input_html: { name: 'phase' } %>
    <%= f.button :submit, value: 'change phase', class: 'btn btn-primary' %>
  <% end %>

<% end %>
