
<%= render :layout => 'dashboard', :locals => { title: 'Iterations', position: 'iterations' } do %>

  <div class="row">

    <div class="col-md-3">
      <% @iterations.each do |i| %>
        <p><span><%= i.id %> - <%= i.get_interval %></span></p>
      <% end %>
    </div>

    <div class="col-md-7">
      <p>started on: <%= @current.created_at.strftime('%x') %></p>
      <p><%= @current.get_interval %></p>
      <p>current status: <%= @current.status %></p>
      <p>
        <% if @current.status == 'progress' %>
          <%= link_to "End iteration", change_phase_path, {class: 'btn btn-primary'} %>
        <% else %>
          <%= link_to "Next phase", change_phase_path, {class: 'btn btn-primary'} %>
        <% end %>
      </p>
    </div>


  </div>




<% end %>
