<%= render :layout => 'dashboard', :locals => { title: '', position: 'iterations' } do %>

  <% if @iterations.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>started</th>
          <th>ended</th>
        </tr>
      </thead>
      <tbody>
        <% @iterations.each do |i| %>
          <tr>
            <td><%= link_to i.id, export_zip_path(i) %></td>
            <td><%= i.created_at.strftime('%x') %></td>
            <td><%= i.ended.strftime('%x') %></td>
          </tr>
          <!-- <p><span><%= i.id %>: <%= i.get_interval %></span></p> -->
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>no past iterations</p>
  <% end %>

<% end %>
