
<%= render :layout => 'dashboard', :locals => { title: 'Users', position: 'users' } do %>

<div class="table-responsive">
	<table class="table table-striped">

		<thead>
			<tr>
				<th><%= t 'common.number_symbol' %></th>
				<th><%= t 'common.user_name' %></th>
				<th><%= t 'common.user_email' %></th>
				<th><%= t 'common.user_role' %></th>
				<th colspan="3"><%= t 'common.actions' %></th>
			</tr>
		</thead>

		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.id %></td>
					<td><%= user.fullname %></td>
					<td><%= user.email %></td>
					<td><%= user.role %></td>
					<td><%= link_to 'manage', show_user_path(user) %></td>
				</tr>
			<% end %>
		</tbody>

	</table>
</div>

<% end %>
