<%= render :layout => 'dashboard', :locals => { title: 'Manage Data', position: 'manage_data' } do %>
<div class="table-responsive">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Model Name</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>User</td>
        <td><%= link_to 'View', list_users_path %></td>
        <td><%= link_to 'Export', list_users_path(format: :csv) %></td>
        <td></td>
      </tr>

      <tr>
        <td>Idea</td>
        <td><%= link_to 'View', ideas_path %></td>
        <td><%= link_to 'Export', ideas_path(format: :csv) %></td>
        <td></td>
      </tr>

      <tr>
        <td>Proposal</td>
        <td><%= link_to 'View', proposals_path %></td>
        <td><%= link_to 'Export', proposals_path(format: :csv) %></td>
        <td></td>
      </tr>

      <tr>
        <td>Category</td>
        <td><%= link_to 'View', categories_path %></td>
        <td><%= link_to 'Export', categories_path(format: :csv) %></td>
        <td></td>
      </tr>

      <tr>
        <td>Mass Emails</td>
        <td><%= link_to 'View', mass_emails_path %></td>
        <td><%= link_to 'Export', mass_emails_path(format: :csv) %></td>
        <td></td>
      </tr>

      <tr>
        <td>Blog</td>
        <td><%= link_to 'View', blogs_path %></td>
        <td><%= link_to 'Export', blogs_path(format: :csv) %></td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>
<% end %>
