<style media="screen">
  .hidden {
    display: none;
  }
</style>

<%= render :layout => 'dashboard', :locals => {position: 'users' } do %>

  <h2>Create User</h2>
  <%= simple_form_for create_user_path do |f| %>
    <%= f.input :first_name, placeholder: 'clark' %>
    <%= f.input :last_name, placeholder: 'kent' %>
    <%= f.input :email, placeholder: 'ckent@dailyplanet.com' %>
    <%= f.input :password, placeholder: 'password', hint: "#{@minimum_password_length} characters minimum" %>
    <%= f.input :phone, placeholder: '555-555-5555' %>

    <div class="form-group">
      <!-- <%= recaptcha_tags %> -->
      <%= f.button :submit, 'Submit', style: 'margin-top: 10px;' %>
    </div>
  <% end %> 
  
<% end %> 
    
