

<h1 class="page-header admin-title">Admin Console</h1>

<div class="container-fluid">
	<div class="row">

		<div class="col-sm-2 sidebar">
      <%= render 'side_bar' %>
		</div>

		<div class="col-sm-10 main">

			<h2 class="sub-header">Users</h2>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>name</th>
							<th>email</th>
							<th colspan="3">action</th>
						</tr>
					</thead>
					<tbody>

            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.fullname %></td>
                <td><%= user.email %></td>
                <td><%= link_to 'show', user_info_path(user.id) %></td>
                <td><%= link_to 'edit' %></td>
                <td><%= link_to 'delete' %></td>
              </tr>
            <% end %>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>



<!-- <div class="row">
	<div class="col-md-5 pull-right">
		last logged in: <%= time_ago_in_words @user.last_sign_in_at %> ago
	</div> -->
    <br>
    <!-- <div class="panel panel-info">
    	<div class="panel-heading">
    		<%= @user.fullname %>
    	</div>
    	<div class="panel-body">
    		<dl>
				<dt>name</dt>
				<dd><%= @user.fullname %></dd>

				<dt>email</dt>
				<dd><%= @user.email %></dd>

				<dt>phone</dt>
				<dd><%= number_to_phone @user.phone, area_code: true, delimiter: " " %></dd>

				<dt>signed in</dt>
				<dd><%= pluralize @user.sign_in_count, 'time'  %></dd>

				<dt>last signed in </dt>
				<dd><%= time_ago_in_words @user.last_sign_in_at %> ago</dd>

				<dt>last sign in IP</dt>
				<dd><%= @user.last_sign_in_ip %></dd>

				<dt>account created at</dt>
				<dd><%= time_ago_in_words @user.created_at %> ago</dd>

				<dt>account updated at</dt>
				<dd><%= time_ago_in_words @user.updated_at %> ago</dd>
    		</dl>
    	</div>
    	<div class="panel-footer">
			<a class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
			<a class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
	   </div>
    </div> -->
<!-- </div> -->
