

<!-- <div class="row">
	<div class="col-md-5 pull-right">
		last logged in: <%= time_ago_in_words @user.last_sign_in_at %> ago
	</div> -->
    <br>
    <div class="panel panel-info">
    	<div class="panel-heading">
    		<%= @user.fullname %>
    	</div>
    	<div class="panel-body">
    		<dl>
				<dt>name</dt>
				<dd><%= @user.fullname %></dd>  

				<dt>email</dt>
				<dd><%= @user.email %></dd>  

				<dt>phone</dt>
				<dd><%= number_to_phone @user.phone, area_code: true, delimiter: " " %></dd>   

				<dt>signed in</dt>
				<dd><%= pluralize @user.sign_in_count, 'time'  %></dd>

				<dt>last signed in </dt>
				<dd><%= time_ago_in_words @user.last_sign_in_at %> ago</dd>

				<dt>last sign in IP</dt>
				<dd><%= @user.last_sign_in_ip %></dd>

				<dt>account created at</dt>
				<dd><%= time_ago_in_words @user.created_at %> ago</dd>
				
				<dt>account updated at</dt>
				<dd><%= time_ago_in_words @user.updated_at %> ago</dd>
    		</dl>
    	</div>
    	<div class="panel-footer">
			<a class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
			<a class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
	   </div>
    </div>
<!-- </div> -->