
<style media="screen">
  .cols {
    /*border: 1px solid black;*/
  }
  .prof-pic {
    padding-top: 20px;
  }
  .vert {
  }
  .role_form {
    display: inline;
  }
</style>



<%= render :layout => 'dashboard', :locals => { title: @user.fullname, position: 'users' } do %>

  <div class="row">
    <div class="col-md-3 cols">
      <strong>role</strong>
    </div>
    <div class="col-md-4">
      <%= @user.role %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>email</strong>
    </div>
    <div class="col-md-4">
      <%= @user.email %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>phone</strong>
    </div>
    <div class="col-md-4">
      <%= number_to_phone @user.phone, area_code: true, delimiter: " " %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>last signed in</strong>
    </div>
    <div class="col-md-4">
      <%= time_ago_in_words @user.last_sign_in_at %> ago
    </div>
  </div>

  <br>

  <%= simple_form_for :change_role, url: show_user_path, method: :post, wrapper: :inline_form, html: {class: 'role_form form-inline'} do |f| %>
    <!-- TODO: auto selected field needs work -->
    <%= f.input :user, :as => :hidden, :input_html => { value: @user.id, name: 'user' } %>
    <%= f.input :role, label: 'role', as: :select, collection: User.roles, selected: User.roles[@user.role], input_html: { name: 'role' }  %>
    <%= f.button :submit, value: 'change role' %>
  <% end %>

  <span class="pull-right">
    <button type="button" name="toggle_role_form" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-edit"></i></button>
    <%= link_to registration_path(@user), data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger', method: :delete do   %>
      <i class="glyphicon glyphicon-remove"></i>
    <% end %>
  </span>



<% end %>
