
<%= render :layout => 'dashboard', :locals => { title: '', position: 'current' } do %>

  <br>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="admin-title"><%= t 'admins.line_chart_title' %></h3>
        <%= line_chart Idea.where(:iteration => Iteration.get_current).group(:created_at).count, ytitle: (t 'admins.line_chart_y_axis') %>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-7">
        <h4 style="margin-left: 20%;"><%= t 'admins.pie_chart_title' %></h4>
        <%= pie_chart Idea.where(:iteration => Iteration.get_current).group(:category).count %>
      </div>

      <div class="col-lg-5">

        <div class="card">
          <div class="card-block">

            <div><strong><%=t 'admins.started_on'%></strong>&nbsp;&nbsp;<%= @current.created_at.strftime('%x') %></div>
            <p><strong><%=t 'admins.current_status'%></strong>&nbsp;&nbsp;<span class="iter-status"><%= @current.status %></span></p>
            <%= simple_form_for :change_phase, url: change_phase_path, method: :put, wrapper: :inline_form, html: {class: 'form-inlines'} do |f| %>
              <%= f.input :phase, as: :select, collection: Iteration.statuses.first(3), :selected => Iteration.statuses[@current.status], input_html: { name: 'phase' } %>
              <%= f.button :submit, value: (t 'admins.change_phase'), class: 'btn-primary', data: {toggle: 'tooltip'}, title: (t 'admins.change_phase_hint') %>
              <%= link_to (t "admins.end_iteration"), admin_end_phase_path, {class: 'btn btn-primary', "data-toggle": "tooltip", title: (t 'admins.end_iteration_hint')} %>
            <% end %>

          </div>
        </div>

      </div>
    </div>
  </div>

<% end %>
