<%= render :layout => 'dashboard', :locals => { title: '', position: 'iterations' } do %>

  <% if @iterations.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t 'common.number_symbol' %></th>
          <th><%= t 'admins.iteration_started' %></th>
          <th><%= t 'admins.iteration_ended' %></th>
        </tr>
      </thead>
      <tbody>
        <% @iterations.each do |i| %>
          <tr>
            <td><%= link_to i.id, export_zip_path(i) %></td>
            <td><%= i.created_at.strftime('%x') %></td>
            <td><%= i.ended.strftime('%x') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= t 'admins.no_past_iterations'%></p>
  <% end %>

<% end %>
