<style media="screen">
  .hidden {
    display: none;
  }
</style>

<%= render :layout => 'dashboard', :locals => {position: 'users' } do %>

  <%# TODO can we reuse the devise registration form? %>
  <h2>Create User</h2>
  <%= simple_form_for @user, url: admin_create_user_path do |f| %>
    <%= f.input :avatar, as: :file %>
    <%= f.input :role, as: :select, collection: User.roles, selected: User.roles[:resident] %>
    <%= f.input :first_name, placeholder: 'clark' %>
    <%= f.input :last_name, placeholder: 'kent' %>
    <%= f.input :password, placeholder: 'password', hint: "6 characters minimum" %>
    <%= f.input :password_confirmation, placeholder: 'password_confirmation' %>
    <%= f.input :email, placeholder: 'ckent@dailyplanet.com' %>
    <%= f.input :phone, placeholder: '555-555-5555' %>

    <div class="form-group">
      <%= f.button :submit, 'Submit', style: 'margin-top: 10px;' %>
    </div>
  <% end %>

<% end %>
