<h2>Cookies</h2>
<td><%= link_to 'Create new gmail message', test_email_path %></td> </br>
<%= @likes %> </br>
<% @emails_users.each do |eu| %>
<%= ""+eu[0]+": "+eu[1] %> </br>
<% end %>
<%= "---------------------------------------------------------"%> </br>
<% @emails_list.each do |el| %>
<%= el %> </br>
<% end %>
<%= "---------------------------------------------------------"%> </br>
<%= @emails_ideas %> </br>

