
<style media="screen">
  #new-idea-btn {
    margin: 12px;
  }
</style>

<% content_for :masthead do %>
    <%= image_tag 'masthead/beCville.png', :alt => 'beCville', class: 'img-fluid' %>
    <br/>
<% end %>

<div>

  <h2 class="page-header">Idea Collection</h2>
  <% if Landingpage.exists?(title: "") %>
    <% @landingpage = Landingpage.where(title: "Home").first %>
    <h2><%= @landingpage.title %></h2>
    <p><%=  @landingpage.description.html_safe %></p>
    <% if can? :edit, :landingpages %>
      <p><%= link_to 'Edit Homepage', edit_landingpage_path(@landingpage) %></p>
    <% end %>
    <% else %>
    <p>PauseLab has not created a home post yet</p>
    <% if can? :edit, :landingpages %>
     <p> <%= link_to 'Create Homepage', new_landingpage_path() %></p>
    <% end %>
  <% end %>

  <%= link_to 'submit an idea', new_idea_path, class: 'btn btn-primary', id: 'new-idea-btn' %>


  <!-- <%= link_to 'submit an idea', new_idea_path, class: 'btn btn-primary' %> -->
  <!-- <div id="map-sidebar"></div> -->

  <div id="map" class="ideas-map-info"></div>

</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap"></script>
