
<style media="screen">
  #new-idea-btn {
    margin: 12px;
  }
</style>

<% content_for :masthead do %>
    <%= image_tag 'masthead/beCville.png', :alt => 'beCville', class: 'img-fluid' %>
    <br/>
<% end %>

<div>

  <h1 class="page-header text-lg-center"><%= t 'pages.idea_collection' %></h1>

  <%= render partial: 'show_landing_page', :locals => {:title => "ideas_home"} %>

  <%= link_to (t 'pages.submit_idea'), new_idea_path, class: 'btn btn-primary', id: 'new-idea-btn' %>

  <div id="map" class="ideas-map-info"></div>

</div>

<!-- Last 3 blogs: needs to be prettier -->
<br/>
<div>
<br>
<br>

<h4 class="text-center"><%= t 'pages.recent_blogs' %></h4>
<br>

<% @blogs = Blog.order(id: :desc).limit(3) %>

<div class="row">
  <% @blogs.each do |b| %>

    <div class="col-md-4 border-left-0">

      <div class="card card-inverse">
      <% if b.key_img? %>
        <%= image_tag b.key_img, class: "card-img-top" %>
      <% end %>
      <div class="card-block">
        <h5 class="card-title"><%= link_to (b.title), blog_path(b)%></h5>
        <p class="card-text">
          <small class="text-muted">
            <%= b.user.fullname %> • <%= b.created_at.strftime("%b %e, %Y") %>
          </small>
        </p>
      </div>
    </div>




      <!-- <h5><%= link_to (b.title), blog_path(b)%></h5>

      <div class="">
      </div> -->

    </div>

  <% end %>
</div>

</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=Pages.initialize"></script>
