
<% content_for :masthead do %>
    <%= image_tag 'masthead/beCville.png', :alt => 'beCville', class: 'img-fluid' %>
    <br/>
<% end %>

<br/>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<!-- <div class="alert alert-notice">Signed out successfully.</div> -->

<div>
  <h2 class="page-header">Idea Collection</h2>
  <div>
    <h3>How would you spend $15000 to improve your neighborhood?</h3>
    <p>Over the next two months we are inviting everyone in Charlottesville to share ideas for improving their neighborhood.  With our focus on the south side of Charlottesville, we are specifically interested in hearing ideas for the Belmont and Ridge St. neighborhoods.</p>
    <p>No matter how small or large, vague or specific, we want to hear from YOU.  Send us your ideas by filling out the form below and have a say in making your neighborhood better.</p>
    <p>Remember, we have $15000 for you to spend on public art projects and programs.</p>
  </div>
  <%= link_to 'submit an idea', new_idea_path, class: 'btn btn-primary' %>

  <div id="map" class="ideas-map-info"></div>

</div>


<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap"></script>
