
<style media="screen">
  #new-idea-btn {
    margin: 12px;
  }
</style>

<% content_for :masthead do %>
    <%= image_tag 'masthead/beCville.png', :alt => 'beCville', class: 'img-fluid' %>
    <br/>
<% end %>

<div>

  <h1 class="page-header text-lg-center"><%= t 'pages.idea_collection' %></h1>

  <% if Landingpage.exists?(title: "Home") %>
    <% @landingpage = Landingpage.where(title: "Home").first %>
    <!-- <h2><%= @landingpage.title %></h2> -->
    <p><%=  @landingpage.description.html_safe %></p>
    <% if can? :edit, :landingpages %>
      <p><%= link_to (t 'pages.edit_homepage'), edit_landingpage_path(@landingpage) %></p>
    <% end %>
    <% else %>
    <p><%= t 'pages.no_post' %></p>
    <% if can? :edit, :landingpages %>
     <p> <%= link_to (t 'pages.create_homepage'), new_landingpage_path %></p>
    <% end %>
  <% end %>

  <%= link_to (t 'pages.submit_idea'), new_idea_path, class: 'btn btn-primary', id: 'new-idea-btn' %>

  <div id="map" class="ideas-map-info"></div>

</div>

<!-- Last 3 blogs: needs to be prettier -->
<br/>
<div>
  <h4> <%= t 'pages.recent_blogs' %> </h4>
  <% @blogs = Blog.order(created_at: :desc).limit(3) %>
  <% @blogs.each do |b| %>
  <h5> <%= link_to (b.title), blog_path(b)%> <br> </h5>
  <%= b.user.fullname %> <br>
  <%= b.created_at.strftime("%b %e, %Y") %> <br>
  <% end %>

</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=Pages.initialize"></script>
