<h2 class="sub-header"><%= @user.fullname %></h2>

<div class="row">
  <div class="col-md-3 cols">
    <strong><%= User.human_attribute_name :role %></strong>
  </div>
  <div class="col-md-4">
    <%= User.human_enum_name(:role, @user.role) %>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <strong><%= User.human_attribute_name :email %></strong>
  </div>
  <div class="col-md-4">
    <%= @user.email %>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <strong><%= User.human_attribute_name :phone %></strong>
  </div>
  <div class="col-md-4">
    <%= number_to_phone @user.phone, area_code: true, delimiter: " " %>
  </div>
</div>

<br>

<div>
  <%= link_to edit_user_registration_path, title: (t 'common.edit'), data: {toggle: 'tooltip'} do %>
    <button class='btn btn-sm btn-primary'><i class="fa fa-pencil-square-o"></i></button>
  <% end %>
  <%= link_to user_registration_path, title: (t 'pages.delete_account'), method: :delete, data: { confirm: (t 'pages.delete_confirm_message'), toggle: 'tooltip' } do %>
    <button class='btn btn-sm btn-danger'><i class="fa fa-trash"></i></button>
  <% end %>
</div>
