
<%= simple_form_for @category do |f| %>
    <%= f.input :name, placeholder: 'Nature' %>
    <%= f.input :icon, as: :file, hint: 'Used for the Maps icon displaying an idea. Must be an image file.' %>
    <div class='form-group'>
      <%= f.button :submit, value: 'Submit', class: 'btn-primary' %>
      <%= link_to 'Cancel', categories_path %>
    </div>
<% end %>
