
<% if can? :create, Category %>
  <button type="button" class='btn btn-primary pull-right clearfix' data-toggle="modal" data-target="#cat_form"><%= t 'categories.create_new' %></button>
<% end %>

<h2 class="pull-left"><%= t 'categories.categories' %></h2>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t 'common.id' %></th>
        <th><%= t 'categories.icon' %></th>
        <th><%= t 'categories.name' %></th>
        <th colspan="1"><%= t 'common.actions' %></th>
      </tr>
    </thead>

    <% @categories.each do |category| %>
     <tr>
       <td><%= category.id %></td>
       <td>
         <% if category.icon.present? %>
           <%= image_tag category.icon.url, size: "20x20" %>
         <% else %>
           <%= t 'common.na' %>
         <% end %>
       </td>
       <td><%= category.name %></td>
       <td><%= link_to (t 'common.show'), category_path(category) %></td>
       <!-- <td><%= link_to 'Edit', edit_category_path(category) %></td>
       <td><%= link_to 'Remove', category_path(category),
             method: :delete,
             data: { confirm: 'Are you sure?' } %></td> -->
     </tr>
   <% end %>
  </table>
</div>

<!-- Modal -->
<%= render partial: 'modal_form', locals: {category: @category} %>
