
<% if can? :create, :categories %>
  <button type="button" class='btn btn-primary pull-right clearfix' data-toggle="modal" data-target="#cat_form">Create New Category</button>
<% end %>

<h2 class="pull-left">categories</h2>


<div class="table-responsive">
  <table class="table table-striped">

    <thead>
      <tr>
        <th>Category ID</th>
        <th>Name</th>
        <th colspan="6">Actions</th>
      </tr>
    </thead>

    <% @categories.each do |category| %>
     <tr>
       <td><%= category.id %></td>
       <td><%= category.name %></td>
       <td><%= link_to 'Show', category_path(category) %></td>
       <td><%= link_to 'Edit', edit_category_path(category) %></td>
       <td><%= link_to 'Remove', category_path(category),
             method: :delete,
             data: { confirm: 'Are you sure?' } %></td>
     </tr>
   <% end %>

  </table>
</div>

<!-- Modal -->
<%= render partial: 'modal_form', locals: {category: @category} %>
