<h2><%= t 'categories.category_name' %>: <%= @category.name %></h2>
<h3>
  <% if @category.icon.present? %>
    <%= Category.human_attribute_name :icon %>: <%= @category.icon_file_name %>
    <%= image_tag @category.icon.url %>
  <% else %>
    <%= t 'categories.no_icon_message' %>
  <% end %>
</h3>

<hr>

<% if can? :update, @category %>
  <%= link_to edit_category_path(@category), title: (t 'common.edit'), class: "btn btn-sm btn-primary", data: {toggle: "tooltip"} do %>
    <i class="fa fa-pencil-square-o"></i>
  <% end %>
<% end %>

<% if can? :destroy, @category %>
  <%= link_to category_path(@category), method: :delete, title: (t 'common.remove'), class: "btn btn-sm btn-danger", data: { confirm: (t 'common.confirm_message'), toggle: 'tooltip' } do %>
    <i class="fa fa-trash"></i>
  <% end %>
<% end %>
