<% if can? :read, Category %>
<%= link_to (t 'common.back'), categories_path %>
<% end %>
<% if can? :edit, @category %>
| <%= link_to (t 'common.edit'), edit_category_path(@category) %>
<% end %>

<h2>
  <%= t 'categories.category_name' %>: <%= @category.name %>
</h2>
<h3>
  <% if @category.icon.present? %>
    <%= t 'categories.icon' %>: <%= @category.icon_file_name %>
    <%= image_tag @category.icon.url %>
  <% else %>
    <%= t 'categories.no_icon_message' %>
  <% end %>
</h3>
