<!-- <div class="col-md-6"> -->

    <h2><%= t 'users.registrations.new_user' %></h2>

    <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>

        <%= f.input :avatar, as: :file %>
        <%= f.input :first_name, placeholder: (t 'common.first_name_placeholder') %>
        <%= f.input :last_name, placeholder: (t 'common.last_name_placeholder') %>
        <%= f.input :email, placeholder: (t 'common.email_placeholder') %>
        <%= f.input :password, hint: (t 'users.passwords.minimum_length_message', :length => @minimum_password_length) %>
        <%= f.input :password_confirmation %>
        <%= f.input :phone, placeholder: (t 'common.phone_placeholder') %>

        <div class="form-group">
          <%= recaptcha_tags %>
          <%= f.button :submit, (t 'users.registrations.sign_up'), style: 'margin-top: 10px;' %>
        </div>

        <div class="form-group">
          <%= render "users/shared/links" %>
        </div>

    <% end %>



<!-- </div> -->
