<div class="modal fade" id="budget_display" tabindex="-1" role="dialog">

  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title pull-left"><%= t 'proposals.cost_breakdown' %></h3>
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times"></i>
        </button>
      </div>

      <div class="modal-body">


        <div class="table-responsive table-budget table-bordered">
          <table class="table table-striped ">

            <thead class="">
              <tr>
                <td><%= t 'proposals.cost_component' %></td>
                <td><%= t 'proposals.cost' %></td>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><%= t 'proposals.artist_fees' %></td>
                <td><%= number_to_currency @proposal.proposal_budget.artist_fees, :unit => "$ " %></td>
              </tr>
              <tr>
                <td><%= t 'proposals.project_materials' %></td>
                <td><%= number_to_currency @proposal.proposal_budget.project_materials, :unit => "$ " %></td>
              </tr>
              <tr>
                <td><%= t 'proposals.printing' %></td>
                <td><%= number_to_currency @proposal.proposal_budget.printing, :unit => "$ " %></td>
              </tr>
              <tr>
                <td><%= t 'proposals.marketing' %></td>
                <td><%= number_to_currency @proposal.proposal_budget.marketing, :unit => "$ " %></td>
              </tr>
              <tr>
                <td><%= t 'proposals.documentation' %></td>
                <td><%= number_to_currency @proposal.proposal_budget.documentation, :unit => "$ " %></td>
              </tr>
              <tr>
                <td><%= t 'proposals.volunteers' %></td>
                <td><%= number_to_currency @proposal.proposal_budget.volunteers, :unit => "$ " %></td>
              </tr>
              <tr>
                <td><%= t 'proposals.insurance' %></td>
                <td><%= number_to_currency @proposal.proposal_budget.insurance, :unit => "$ " %></td>
              </tr>
              <tr>
                <td><%= t 'proposals.events' %></td>
                <td><%= number_to_currency @proposal.proposal_budget.events, :unit => "$ " %></td>
              </tr>
            </tbody>


          </table>
        </div>

      </div>

      <div class="modal-footer">
        <h4 class="text-muted">
          <i class="fa fa-dollar"></i> <%= number_to_currency @proposal.proposal_budget.cost, :unit => "" %>
        </h4>
      </div>

    </div>
  </div>
</div>
