<style media="screen">
  .trumbowyg-box {
    margin-top: 0px;
  }
  label[for='proposal_artist_cv'] {
    display: block;
  }
  input[type='file'] {
  }
</style>

<%= simple_form_for @proposal do |f| %>

    <%= f.input :title, placeholder: (t 'proposals.title_placeholder') %>
    <%= f.input :description, placeholder: (t 'proposals.description_placeholder') %>
    <%= f.input :essay, placeholder: (t 'proposals.essay_placeholder') %>
    <%= f.input :website_link, placeholder: (t 'proposals.website_link_placeholder') %>

    <br/>
    <h3><%= t 'proposals.budget_information' %></h3>

    <%= f.simple_fields_for :proposal_budget do |p| %>
    <div class="row">
      <div class="col-sm-4">
        <%= p.input :artist_fees, placeholder: (ProposalBudget.human_attribute_name :artist_fees), input_html: { class: 'budget' } %>
      </div>
      <div class="col-sm-4">
        <%= p.input :project_materials, placeholder: (ProposalBudget.human_attribute_name :project_materials), input_html: { class: 'budget' } %>
      </div>
      <div class="col-sm-4">
        <%= p.input :printing, placeholder: (ProposalBudget.human_attribute_name :printing), input_html: { class: 'budget' } %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <%= p.input :marketing, placeholder: (ProposalBudget.human_attribute_name :marketing), input_html: { class: 'budget' } %>
      </div>
      <div class="col-sm-4">
        <%= p.input :documentation, placeholder: (ProposalBudget.human_attribute_name :documentation), input_html: { class: 'budget' } %>
      </div>
      <div class="col-sm-4">
        <%= p.input :volunteers, placeholder: (ProposalBudget.human_attribute_name :volunteers), input_html: { class: 'budget' } %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <%= p.input :insurance, placeholder: (ProposalBudget.human_attribute_name :insurance), input_html: { class: 'budget' } %>
      </div>
      <div class="col-sm-4">
        <%= p.input :events, placeholder: (ProposalBudget.human_attribute_name :events), input_html: { class: 'budget' } %>
      </div>
    </div>
    <% end %>

<h5 style="margin-top: 11px;">
    <div class="total-cost">
      <%= t 'proposals.total_cost' %>: $<span class="total-cost-vals">0</span>
    </div>
</h5>
    <hr>

    <div class='form-group'>
      <%= f.input :artist_cv, wrapper_html: { class: 'btn-file' },
        button_text: (t 'proposals.resume_button') %>
    </div>

    <div class='form-group'>
      <%= f.button :submit, value: (t 'common.submit'), class: 'btn btn-primary' %>
      &nbsp;
      <%= link_to (t 'common.cancel'), proposals_path, class: 'btn btn-secondary' %>
    </div>

<% end %>

<script>

$('textarea').each(function() {
  $(this).trumbowyg({
      svgPath: '<%= image_path("icons.svg") %>',
      btns: [
          ['formatting'],
          ['insertImage'],
          'btnGrp-justify',
          'btnGrp-lists',
          ['horizontalRule'],
          ['fullscreen']
      ]
  });
});

$('.budget').change(function () {
  var total = 0;
  $('.budget').each(function (index, b) {
    var val = b.value;
    if (val.trim() !== '' && parseInt(val) > 0) {
      total += parseInt(val);
    } else if (val < 0) {
      b.value = 0;
    }
  });
  $('.total-cost-vals').html(total);
});

</script>
