
<%= simple_form_for @proposal do |f| %>
    <%= f.input :description, placeholder: 'your proposal' %>
    <%= f.input :cost, placeholder: 'budget' %>
    <%= f.input :essay, placeholder: "how would this project help the community" %>
    <%= f.input :website_link, placeholder: 'a link to an online portfolio' %>
    <div class='form-group'>
      <%= f.button :submit, value: 'Submit Proposal', class: 'btn-primary' %>
      <%= link_to 'Cancel', proposals_path %>
    </div>
<% end %>
