
<%= simple_form_for @proposal do |f| %>
    <%= f.input :description, placeholder: 'your proposal' %>
    <%= f.input :cost, placeholder: 'budget' %>
    <%= f.input :essay, placeholder: "how would this project help the community" %>
    <div class='form-group pull-right'>
      <%= f.button :submit, value: 'submit proposal', class: 'btn-primary' %>
    </div>
<% end %>
