<style media="screen">
  .trumbowyg-box {
    margin-top: 0px;
  }
  label[for='proposal_artist_cv'] {
    display: block;
  }
  input[type='file'] {
  }
  /*.btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
  }*/
</style>

<%= simple_form_for @proposal do |f| %>


    <%= f.input :title, placeholder: (t 'proposals.title_placeholder') %>
    <%= f.input :description, placeholder: (t 'proposals.description_placeholder') %>
    <%= f.input :essay, placeholder: (t 'proposals.essay_placeholder') %>
    <%= f.input :website_link, placeholder: (t 'proposals.website_link_placeholder') %>

    <br/>
    <h3><%= t 'proposals.budget_information' %></h3>

    <%= f.simple_fields_for :proposal_budget do |p| %>
    <div class="row">
      <div class="col-sm-4">
        <%= p.input :artist_fees, placeholder: (t 'proposals.artist_fees'), input_html: { class: 'budget' } %>
      </div>
      <div class="col-sm-4">
        <%= p.input :project_materials, placeholder: (t 'proposals.project_materials'), input_html: { class: 'budget' } %>
      </div>
      <div class="col-sm-4">
        <%= p.input :printing, placeholder: (t 'proposals.printing'), input_html: { class: 'budget' } %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <%= p.input :marketing, placeholder: (t 'proposals.marketing'), input_html: { class: 'budget' } %>
      </div>
      <div class="col-sm-4">
        <%= p.input :documentation, placeholder: (t 'proposals.documentation'), input_html: { class: 'budget' } %>
      </div>
      <div class="col-sm-4">
        <%= p.input :volunteers, placeholder: (t 'proposals.volunteers'), input_html: { class: 'budget' } %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <%= p.input :insurance, placeholder: (t 'proposals.insurance'), input_html: { class: 'budget' } %>
      </div>
      <div class="col-sm-4">
        <%= p.input :events, placeholder: (t 'proposals.events'), input_html: { class: 'budget' } %>
      </div>
    </div>
    <% end %>

<h5 style="margin-top: 11px;">
    <div class="total-cost">
      <%= t 'proposals.total_cost' %>: $<span class="total-cost-vals">0</span>
    </div>
</h5>
    <hr>

    <div class='form-group'>
      <%= f.input :artist_cv, label: (t 'proposals.resume'), wrapper_html: { class: 'btn-file' } %>
    </div>

    <div class='form-group'>
      <%= f.button :submit, value: (t 'common.submit'), class: 'btn btn-primary' %>
      &nbsp;
      <%= link_to (t 'common.cancel'), root_path, class: 'btn btn-secondary' %>
    </div>

<% end %>

<script>

$('textarea').each(function() {
  $(this).trumbowyg({
      svgPath: '<%= image_path("icons.svg") %>',
      btns: [
          ['formatting'],
          ['insertImage'],
          'btnGrp-justify',
          'btnGrp-lists',
          ['horizontalRule'],
          ['fullscreen']
      ]
  });
});

$('.budget').change(function () {
  var total = 0;
  $('.budget').each(function (index, b) {
    var val = b.value;
    if (val.trim() !== '' && parseInt(val) > 0) {
      total += parseInt(val);
      // console.log("hello");
    }
    else if (val < 0) {
      b.value = 0;
    }
  });
  $('.total-cost-vals').html(total);
});

</script>
