
<h1> Vote </h1>
<h3>Pick your top three! </h3>
<%= simple_form_for @vote do |f| %>

<!-- <%= f.input :proposal, collection: @proposals, label_method: :description %>-->

<!--<%= f.input :proposal, collection: @proposals, label_method: :description %>-->


<!--<%= f.input :proposal, collection: @proposals, label_method: :description %>-->


<%= f.association :proposals, as: :select, label_method: :description %>

 <div class='form-group'>
      <%= f.button :submit, value: 'Submit', class: 'btn-primary' %>
    </div>
<% end %>



