

<% if can? :create, Proposal %>
  <%= link_to 'Create New Proposal', new_proposal_path, class: 'btn btn-primary pull-right clearfix' %>
<% end %>

<br/>
<br/>

<h2 class="pull-left">Proposals</h2>
<div class="dropdown pull-right" style="inline-block">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">sort proposals</a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="?sort=cost">cost</a>
    <a class="dropdown-item" href="?sort=created_at">date</a>
    <a class="dropdown-item" href="?sort=id">id</a>
  </div>
</div>


<div class="table-responsive">
  <table class="table table-striped">

    <thead>
      <tr>
        <% if user_has_admin_access %>
          <th>ID</th>
        <% end %>

        <th>Name</th>

        <th>Created at</th>

        <th>Title</th>

        <th>Cost</th>

        <% if user_has_admin_access %>
          <th>Status</th>
        <% end %>

        <% if user_has_admin_access %>
          <th>Votes</th>
        <% end %>

        <% if can? :show, Proposal or
          can? :approve, Proposal or
          can? :edit, Proposal or
          can? :destroy, Proposal %>
          <th colspan="6">Actions</th>
        <% end %>
      </tr>
    </thead>

    <% @proposals.each do |proposal| %>
      <tr>
        <% if user_has_admin_access %>
          <td><%= proposal.id %></td>
        <% end %>

        <% if proposal.respond_to? :user %>
          <td><%= proposal.user.fullname %></td>
        <% end %>
        <% if proposal.respond_to? :created_at %>
          <td><%= proposal.created_at.strftime "%D" %></td>
        <% end %>
        <% if proposal.respond_to? :title %>
	        <td><%= proposal.title %></td>
        <% end %>
        <% if proposal.respond_to? :cost %>
          <td><%= number_to_currency proposal.cost %></td>
        <% end %>

        <% if user_has_admin_access %>
          <td><%= proposal.status %></td>
        <% end %>
        <% if user_has_admin_access %>
          <td><%= proposal.number_of_votes %></td>
        <% end %>
        <% if can? :show, proposal %>
          <td><%= link_to 'Show', proposal_path(proposal) %></td>
        <% end %>
        <% if can? :approve, proposal %>
          <td><%= link_to 'Approve', proposal_approve_path(proposal),
    	      method: :post %></td>
        <% end %>
        <% if can? :edit, proposal %>
          <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
        <% end %>
        <% if can? :destroy, proposal %>
          <td><%= link_to 'Remove', proposal_path(proposal),
                   method: :delete,
                   data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% if can? :read, proposal, :title %>
        <td><%= social_share_button_tag(proposal.title, :popup => "true") %></td>
        <% end %>
      </tr>
      <% end %>

  </table>
</div>
