
<% content_for :masthead do %>
    <!-- <%= image_tag 'masthead/artist-med.jpg', :alt => 'beCville', class: 'img-responsive' %> -->
<% end %>

	<h1 class="page-header text-lg-center">Calling all artists</h1>
	<div class="text-lg-center" style="margin-top: 20px;">
		<%= link_to 'Submit proposal', new_proposal_path, class: 'btn btn-primary'%>
	</div>
	<br/>

	<div class="card-columns">

	 <% @ideas.each do |idea| %>

		<div class="card">

			<div class="card-header text-muted">
				<%= idea.category.name %>
				<!-- <a href="#" class="btn btn-primary pull-right">submit</a> -->
			</div>

			<img src="<%= get_static_map idea %>" alt="map" class="card-img-middle img-fluid">
			<!-- hidden-md-down -->

			<div class="card-block">
				<!-- <h4 class="card-title"></h4> -->
				<p class="card-text"><%= truncate idea.description, length: 50 %></p>

				<% if can? :like, idea %>
						<% unless @likes.include?(idea.id) %>
							<%= link_to idea_like_path(idea), class: 'btn btn-sm btn-outline-primary' do %>
								<i class="fa fa-thumbs-o-up"></i>
							<% end %>
						<% else %>
							<%= link_to idea_like_path(idea), class: 'btn btn-sm btn-outline-primary' do %>
								<i class="fa fa-thumbs-o-down"></i>
							<% end %>
						<% end %>
				<% end %>

				<!-- <a class="btn btn-sm btn-outline-primary"><i class="fa fa-thumbs-o-up "></i></a> -->
				<span class="pull-right"><%= idea.likes %></span>
			</div>

		</div>

	 <% end %>

	</div>
