
<!-- <%= link_to 'Back', proposals_path %>
<% if can? :edit, @proposal %>
| <%= link_to 'Edit', edit_proposal_path(@proposal) %>
<% end %> -->

<style media="screen">
  .proposal-cost:hover {
    cursor: pointer ;
  }
</style>

<h1 class="text-sm-right">
  <%= @proposal.title %>
</h1>

<h3 class="text-sm-right">
  <% if @proposal.website_link.blank? %>
    <%= @proposal.user.fullname %>
  <% else %>
    <%= link_to @proposal.user.fullname, @proposal.website_link %>
  <% end %>
  <small class="text-muted"> • <%= @proposal.created_at.strftime("%b %e") %></small>
</h3>

<h5 class="text-muted text-sm-right proposal-cost" data-toggle="modal" data-target="#budget_display">
  <span title="view breakdown" data-toggle="tooltip">
    <i class="fa fa-dollar"></i> <%= number_to_currency @proposal.proposal_budget.cost, :unit => "" %>
  </span>
</h5>

<%# TODO: limit scope %>
<% if @proposal.approved? %>
  <h5 class="text-sm-right"><span class="badge badge-success">approved</span></h5>
<% else %>
  <h5 class="text-sm-right"><span class="badge badge-danger">unchecked</span></h5>
<% end %>

<br>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">Description</h4>
    <%= @proposal.description.html_safe %>
  </div>
</div>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">Essay</h4>
    <%= @proposal.essay.html_safe %>
  </div>
</div>

<% if @proposal.artist_cv.original_filename <=> '/artist_cvs/original/missing.png' %>
  <p>
    <strong>CV:</strong>
    <%= link_to @proposal.artist_cv.original_filename, asset_url(@proposal.artist_cv.url) %>
  </p>
<% end %>

<!-- <% if user_has_admin_access %>
  <p>
    <strong>Status:</strong>
    <%= @proposal.status %>
  </p>
<% end %> -->

<br>

<%# TODO avoid code duplication with this and proposal_comment views. %>
<% if can? :read, ProposalComment %>
  <h3>Comments</h3>
  <% @proposal.proposal_comments.each do |comment| %>
    <p>
      <strong><%= comment.user.fullname %></strong>: <%= comment.body %>
      <% if can? :edit, comment %>
        <%= link_to 'Edit', edit_proposal_proposal_comment_path(@proposal, comment) %>
      <% end %>
      <% if can? :destroy, comment %>
        | <%= link_to 'Remove', proposal_proposal_comment_path(@proposal, comment),
            method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
  <% end %>
  <% if can? :create, ProposalComment %>
    <hr>
    <%= simple_form_for([@proposal, @proposal.proposal_comments.build]) do |f| %>
      <!-- <p> Add comment: </p> -->
      <%= f.input :body, label: "Add Comment" %>

      <div class='form-group'>
        <%= f.button :submit, value: 'Submit', class: 'btn-primary pull-right' %>
        <%# link_to ' Cancel', ideas_path %>
      </div>

    <% end %>
  <% end %>
<% end %>

<%= render partial: 'budget_modal' %>
