
<%= link_to 'Back', proposals_path %>
<% if can? :edit, @proposal %>
| <%= link_to 'Edit', edit_proposal_path(@proposal) %>
<% end %>

<h2>
  By <b><%= @proposal.user.fullname %> </b>
</h2>

<h3>Description:</h3>
<div class="fr-view">
  <!-- Sanitize!! But I don't know if I've done that properly.. -->
  <%= @proposal.description.html_safe %>
</div>

<h3>Essay:</h3>
<p>
  <%= @proposal.essay.html_safe %>
</p>

<p>
  <strong>Cost:</strong>
  <%= number_to_currency @proposal.cost %>
</p>

<% if not @proposal.website_link.blank? %>
  <p>
    <strong>Website:</strong>
    <%= link_to @proposal.website_link, @proposal.website_link %>
  </p>
<% end %>

<% if @proposal.artist_cv.original_filename <=> '/artist_cvs/original/missing.png' %>
  <p>
    <strong>CV:</strong>
    <%= link_to @proposal.artist_cv.original_filename, @proposal.artist_cv.url %>
  </p>
<% end %>

<% if can? :read, @proposal, :status %>
  <p>
    <strong>Status:</strong>
    <%= @proposal.status %>
  </p>
<% end %>

<%# TODO avoid code duplication with this and proposal_comment views. %>
<% if can? :read, @proposal, :proposal_comments %>
  <h3>Comments</h3>
  <% @proposal.proposal_comments.each do |comment| %>
    <p>
      <strong><%= comment.user.fullname %></strong>: <%= comment.body %>
      <% if can? :edit, comment %>
        <%= link_to 'Edit', edit_proposal_proposal_comment_path(@proposal, comment) %>
      <% end %>
      <% if can? :destroy, comment %>
        | <%= link_to 'Remove', proposal_proposal_comment_path(@proposal, comment),
            method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
  <% end %>
  <% if can? :create, :proposal_comments %>
    <%= simple_form_for([@proposal, @proposal.proposal_comments.build]) do |f| %>
      <p> Add comment: </p>
      <p> <%= f.input :body, label: false %> </p>
      <p> <%= f.submit %> </p>
    <% end %>
  <% end %>
<% end %>
