
<%= link_to 'Back', proposals_path %> |
<%= link_to 'Edit', edit_proposal_path(@proposal) %> 
  
<h2>
  By <b><%= User.find(@proposal.user_id.to_i).first_name %> <%= User.find(@proposal.user_id.to_i).last_name %></b>
</h2>
  
<h3>Description:</h3>
<p>
  <%= @proposal.description %>
</p>
 
<h3>Cost:</h3> 
<p>
  <%= @proposal.cost %>
</p>
 
<h3>Essay:</h3>
<p>
  <%= @proposal.essay %>
</p>

<h3>Website:</h3>
<% if @proposal.website_link.length != 0 %>
  <p>
    <%= link_to @proposal.website_link, @proposal.website_link %>
  </p>
<% else %>
  <p>[Empty]</p>
<% end %>

<h3>CV:</h3>
<% if @proposal.artist_cv.original_filename <=> '/artist_cvs/original/missing.png' %>
  <p>
    <%= link_to @proposal.artist_cv.original_filename, @proposal.artist_cv.url %>
  </p>
<% else %>
  <p>[Empty]</p>
<% end %>

<h3>Status:</h3>
<p>
  <%= @proposal.status %>
</p>

