
<%= link_to 'Back', proposal_path %> |
<%= link_to 'Edit', edit_proposal_path(@proposal) %> 
 
<p>
  <%= @proposal.description %>
</p>
 
<p>
  <%= @proposal.cost %>
</p>
 
<p>
  <%= @proposal.essay %>
</p>
