<div class="modal fade" id="change_role_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t 'admins.edit_user' %></h4>
      </div>

      <%= simple_form_for [:admin, @user] do |f| %>
        <div class="modal-body">
          <%= f.input :role, label: (t 'common.user_role'), as: :select, collection: User.roles.keys.to_a, selected: @user.role %>
          <%= f.input :avatar, as: :file %>
          <%= f.input :first_name, label: (t 'common.first_name') %>
          <%= f.input :last_name, label: (t 'common.last_name') %>
          <%= f.input :email, label: (t 'common.user_email') %>
          <%= f.input :phone, label: (t 'common.user_phone') %>
        </div>
        <div class="modal-footer">
          <%= f.button :submit, (t 'admins.update_user'), class: 'btn btn-primary' %>
          <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
        </div>
      <% end %>

    </div>
  </div>
</div>
