<%= simple_form_for [:admin, @user] do |f| %>
  <div class="modal-body">
    <%= f.input :role, as: :select, collection: User.roles.keys.to_a %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :phone %>
  </div>
  <div class="modal-footer">
    <%= f.button :submit, (t 'admins.update_user'), class: 'btn btn-primary' %>
    <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
  </div>
<% end %>
