<%= simple_form_for [:admin, @user] do |f| %>
  <% if inside_modal %>
    <div class="modal-body">
  <% end %>
  <%= f.input :avatar, as: :file, hint: (t 'common.avatar_hint') %>
  <%= f.input :role, as: :select, collection: User.roles.keys.to_a - ["resident"],
    label_method: lambda {|r| User.human_enum_name :role, r }, selected: @user.role %>
  <%= f.input :first_name, placeholder: (t 'common.first_name_placeholder') %>
  <%= f.input :last_name, placeholder: (t 'common.last_name_placeholder') %>
  <%= f.input :email, placeholder: (t 'common.email_placeholder') %>
  <%= f.input :phone, placeholder: (t 'common.phone_placeholder') %>
  <% if include_password %>
    <%= f.input :password, hint: (t 'users.passwords.minimum_length_message', :length => 6) %>
    <%= f.input :password_confirmation %>
  <% end %>
  <% if inside_modal %>
    </div>
    <div class="modal-footer">
  <% end %>
  <div class="form-group">
    <%= f.button :submit, 'Submit', class: 'btn btn-primary', style: 'margin-top: 10px;' %>
  </div>
  <% if inside_modal %>
    </div>
  <% end %>
<% end %>
