
<%= render :layout => 'admin/dashboard', :locals => {position: 'users' } do %>

  <%# TODO reuse forms? %>
  <h2><%= t 'admins.edit_user' %></h2>

  <%= simple_form_for [:admin, @user] do |f| %>
    <div class="modal-body">
      <%= f.input :role, label: (t 'common.user_role'), as: :select, collection: User.roles.keys.to_a %>
      <%= f.input :first_name, label: (t 'common.first_name') %>
      <%= f.input :last_name, label: (t 'common.last_name') %>
      <%= f.input :email, label: (t 'common.user_email') %>
      <%= f.input :phone, label: (t 'common.user_phone') %>
    </div>
    <div class="modal-footer">
      <%= f.button :submit, (t 'admins.update_user'), class: 'btn btn-primary' %>
      <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
    </div>
  <% end %>

<% end %>
