
<%= render :layout => 'admin/dashboard', :locals => { title: (t 'admins.users'), position: 'users' } do %>
<%= link_to (t 'admins.create_user'), new_admin_user_path, class: 'btn btn-primary pull-right' %>

<br>
<br>

<div class="table-responsive">
	<table class="table table-striped">

		<thead>
			<tr>
				<th><%= t 'common.number_symbol' %></th>
				<th><%= t 'common.user_name' %></th>
				<th><%= t 'common.user_email' %></th>
				<th><%= t 'common.user_role' %></th>
				<th colspan="3"><%= t 'common.actions' %></th>
			</tr>
		</thead>

		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.id %></td>
					<td><%= user.fullname %></td>
					<td><%= user.email %></td>
					<td><%= user.role %></td>
					<td><%= link_to (t 'admins.manage'), admin_user_path(user) %></td>
				</tr>
			<% end %>
		</tbody>

	</table>
</div>

<%= will_paginate @users,
			:class => "pagination-wrapper",
			:previous_label => "previous",
			:next_label => "next" %>

<% end %>
