<style media="screen">
  .hidden {
    display: none;
  }
</style>

<%= render :layout => 'admin/dashboard', :locals => {position: 'users' } do %>

  <%# TODO reuse forms? %>
  <h2><%= t 'admins.create_user' %></h2>

  <%= simple_form_for [:admin, @user] do |f| %>
    <%= f.input :avatar, as: :file, hint: (t 'common.avatar_hint') %>
    <%= f.input :role, as: :select, collection: User.roles.keys.to_a, selected: :resident %>
    <%= f.input :first_name, placeholder: 'clark' %>
    <%= f.input :last_name, placeholder: 'kent' %>
    <%= f.input :email, placeholder: 'ckent@dailyplanet.com' %>
    <%= f.input :phone, placeholder: '555-555-5555' %>
    <%= f.input :password, placeholder: 'password', hint: "6 characters minimum" %>
    <%= f.input :password_confirmation, placeholder: 'password_confirmation' %>

    <div class="form-group">
      <%= f.button :submit, 'Submit', style: 'margin-top: 10px;' %>
    </div>
  <% end %>

<% end %>
